@media screen and (min-width: 900px) {
    .home-page{
        margin-top: 3%;
        width: 75%;
        display: flex;
        gap: 10%;
    }   

    .profile-image{
        width: 50%;
        height: 60%;
    }
    
    .scroll-down{
        width: 45%;
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        gap: 2%;
        cursor: pointer;
        text-decoration: none;
    }
      
    .scroll-down:visited{
        color: black;
    }
      
    .scroll-down:hover{
        position: relative;
        top: 1%
    }
      
    .scroll-down-icon{
        margin-top: 2%;
    }

    .contact-btn{
        width: 45%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 900px){
    .scroll-down{
        visibility: hidden;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .home-page{
        margin-top: 30px;
        margin-bottom: 100px;
        width: 80%;
        display: flex;
        gap: 4%;
    }

    .home-page-aboutme{
        margin-left: 5%;
    }

    .profile-image{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .home-page{
        margin-bottom: 100px;
        width: 600px;
        display: grid;
        grid-template-columns: repeat(2, 20%);
        grid-template-rows: repeat(3, 30%);
        position: relative;
    }
    
    .home-page-aboutme{
        width: 100%;
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    .profile-image{
        width: 150px;
        height: 150px;
        position: relative;
        right: 60px;
    }
}

.home-page{
    height: 80%;
    margin-left: 10%;
}
  
.home-page nav{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 8%;
}
  
.home-page nav a{
    cursor: pointer;
}
   
.home-page-introducing{
    font-size: large;
}

.profile-image{
    margin-top: 10px;
    border-radius: 50%;
}

.contact-btn{
    width: 150px;
    text-decoration: none;
}

.contact-btn > *{
    color: white;
}

.contact-btn-icon{
    margin-top: 10%;
    margin-left: 5%;
}