@media screen and (min-width: 900px) {

    .about-info{
        width: 80%;
        margin-left: 11%;
    }

    .about-info{
        gap: 7%;
    }
    
    .about-img-div{
        width: 45%;
    }

    .about-img{
        width: 90%;
        height: 60%;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about-context{
        width: 50%;
        height: 60%;
    }
}

@media screen and (max-width: 900px) {
    .about-info{
        margin-left: 6%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {

    .about-img{
        width: 100%;
        height: 80%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 600px) {
    .about{
        margin-bottom: 200px;
    }

    .about-info{
        flex-direction: column;
    }

    .about-img-div{
        width: 100%;
    }
    
    .about-img{
        width: 80%;
        height: 170px;
        position: relative;
        left: 12%;
    }

    .about-context{
        width: 100%;
    }
    
}

.about-info{
    display: flex;
  }
  
  .about-img{
    border-radius: 5px;
    position: relative;
  }
  
  .about-context{
    word-break: keep-all;
    display: flex;
    flex-direction: column; 
  }
  
  .years{
    display: flex;
    justify-content: center;
    gap: 15%;
    font-size: smaller;

  }

  .year{
    width: min-content;
    text-align: center;
  }
  
  .year span{
    font-size: 25px;
    font-weight: bold;
  }
  
  .cv-btn{
    width: 170px;
    height: 55px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cv-btn-icon{
    margin-top: 8%;
    margin-left: 4%;
  }